@font-face {
    font-family: 'Merriweather';
    src: url(Merriweather-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1,body,::placeholder {
    font-family: 'Merriweather';

    
}
body{
    background-color: rgb(207, 223, 219);
   
    
    
}

.caixas {
    text-align: center;
    
}
h1 {
    background-color: antiquewhite;
    border-style: double;
}



 
img {


border-radius: 50%;
}
